/* --- GOOGLE Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* --- FontAwesome --- */
@import url(fontawesome.all.min.css);

/* --- Resetting default styles --- */
* {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ------------------------------------------
|                 Common Style   
_____________________________________________*/
body {
  background: #535880;
  background-image: linear-gradient(#242846, #535880);
}

img {
  width: 100%;
}

.container {
  max-width: 1163px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-50 {
  max-width: 50%;
}

.btn {
  text-decoration: none;
  padding: 10px 24px;
  background: #e02c6d;
}

/* "Watch" Button animation */
.watch-button {
  position: relative;
  top: 2px;
  left: 0px;
  animation: watch-button 1.5s;
  animation-iteration-count: infinite;
}

@keyframes watch-button {
  50% {
    left: 8px;
  }

  100% {
    left: 0px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight:hover {
  color: #e02c6d;
  transition: color 0.5s;
}

.image-effect:hover {
  transform: scale(1.1, 1.1);
  transition: transform 1s;
}

/* ------------------------------------------
|       Navigation Menu And Top Banner   
_____________________________________________*/

/* Navigation Menu */
.header-section {
  height: 677px;
  margin-bottom: 70px;
  background: #242846;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0 49px;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  margin-left: 36px;
}

nav > ul > li:first-child {
  margin-left: 0;
}

nav > ul > li:hover a {
  color: #e02c6d;
  transition: 0.5s;
}

nav > ul > li:last-child a {
  color: #e02c6d;
  text-transform: uppercase;
}

.fa-ticket-alt {
  transform: rotate(45deg);
  color: #e02c6d;
}

#mobile-menu {
  font-size: 24px;
  display: none;
}

/* Login Button Animation */
.login i {
  position: relative;
  right: 0px;
  animation: login 1.5s;
  animation-iteration-count: infinite;
}

@keyframes login {
  50% {
    right: 8px;
  }

  100% {
    right: 0px;
  }
}

/* Top Heading */
.top-heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  margin: 72px 0 27px 0;
  cursor: pointer;
}

/* Top Animated Player Banner */
.animate-banner {
  width: 556.01px;
  height: 456px;
  position: relative;
}

.animate-banner img {
  position: absolute;
  margin-top: 18px;
}

/* ---------------------------------------------------
|                   Featured Player 
______________________________________________________*/

.featured-players,
.schedules-section {
  margin-bottom: 30px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}

.player {
  max-width: 330px;
  height: 474px;
  background-image: linear-gradient(#535880, #242846);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .thumbnail {
  max-width: 300px;
  height: 256px;
  margin: 15px;
  overflow: hidden;
  cursor: pointer;
}

.player-info {
  max-width: 300px;
  height: 154px;
  margin: 1px 15px 33px;
  overflow: hidden;
  cursor: pointer;
}

.player-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-player {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

/* ---------------------------------------------------
|               Live Watch Section 
______________________________________________________*/

.live-section-wraper {
  margin: 150px auto;
}

.live-section h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 60px;
  cursor: pointer;
}

.live-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 10px 0 24px;
}

.live-section-wraper div.col-50 {
  overflow: hidden;
}

/* ---------------------------------------------------
|               Highlight Section Start Below 
______________________________________________________*/

#news {
  background: rgba(36, 40, 70, 0.3);
  padding: 50px 70px;
  border-radius: 5px;
}

.section-title {
  margin-bottom: 50px;
  border-bottom: 2px solid #e02c6d;
  text-transform: uppercase;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.highlight-content {
  display: flex;
  padding: 25px;
  border-radius: 5px;
  background: #474c72;
}

.article-thumbnail img {
  width: 180px;
  height: 120px;
  overflow: hidden;
  cursor: pointer;
}

.article-info {
  margin-left: 16px;
  cursor: pointer;
}

.article-title {
  font-size: 18px;
  font-weight: 400;
}

/* ---------------------------------------------------
|               NewsLetter Start Below 
______________________________________________________*/

.newsletter {
  margin: 100px 0;
}

.newsletter h2 {
  margin-bottom: 50px;
  border-bottom: 2px solid #e02c6d;
  text-transform: uppercase;
}

form {
  padding: 50px 100px;
  background: rgba(36, 40, 70, 0.3);
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

input[type="tel"] {
  font-weight: 500;
  color: #e02c6d;
  width: 350px;
  padding: 10px;
  margin: 8px 0;
  border: none;
  outline: none;
}

input[type="tel"]:focus {
  border: 1px solid #e02c6d;
}

button {
  color: #fff;
  background-color: #e02c6d;
  border: none;
  width: 100px;
  padding: 11px;
  margin: 8px 0;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* ---------------------------------------------------
|               Page Footer Start Below 
______________________________________________________*/
.footer {
  background: #242846;
  padding-top: 50px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 483.87px;
  height: 110px;
  cursor: pointer;
}

.social-links {
  margin: 20px 0;
}

.social-links a {
  font-size: 14px;
  background: #e7e7e8;
  margin-left: 5px;
  padding: 5px 9px;
  border-radius: 50%;
}

.social-links a:first-child {
  margin-left: 0;
}

.social-links a:hover {
  background: #e02c6d;
  transition: background 0.5s;
}

.social-links a i {
  color: #969bab;
}

.social-links a:hover i {
  color: #fff;
}

.page-footer span {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 63px;
}

/* Back to Top Button */
.back-to-top {
  position: absolute;
  top: 4865px;
  right: 100px;
}

.fa-chevron-circle-up {
  font-size: 30px;
  color: #e02c6d;
}

/* ---------------------------------------------------
|                      Media Query 
_______________________________________________________*/
/*

____________________ Layout For Mobile ____________________**/

@media only screen and (max-width: 688px) {
  .container {
    width: 90%;
  }

  .header-section {
    height: 90%;
  }

  #nav {
    display: none;
  }

  #mobile-menu {
    display: block;
  }

  .row {
    flex-direction: column;
  }

  .players {
    grid-template-columns: repeat(1, 1fr);
  }

  .highlights {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo {
    max-width: 250px;
    height: 63px;
  }

  .back-to-top {
    top: 7245px;
    right: 50px;
  }
}

/*_______________________ Layout For Tablet ____________________*/

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 90%;
  }

  .header-section {
    height: 90%;
  }

  #nav {
    display: none;
  }

  #mobile-menu {
    display: block;
  }

  .row {
    flex-direction: column;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .highlights {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo {
    max-width: 300px;
    height: 63px;
  }

  .back-to-top {
    top: 7245px;
    right: 50px;
  }
}
